# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl

# Sensitive variables
terraform/terraform.tfvars

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini